# Операционные файлы
__pycache__/
*.pyc
*.pyo

# Виртуальное окружение
venv/
env/

# Логи и временные файлы
*.log
*.sqlite3

# Настройки и секретные файлы
.env
config/settings_local.py

# Статика и медиа-файлы (если генерируются)
staticfiles/
media/
