<div class="col d-flex justify-content-center">
  <div class="card" style="width: 40rem;">
    <div class="card-body">
      <!-- {% if post.image %}
        <a href="{{ category.image.url }}" target="_blank">
          <img class="border-3 rounded img-fluid img-thumbnail mb-2 mx-auto d-block" src="{{ category.image.url }}">
        </a>
      {% endif %} -->
      <h5 class="card-title">{{ category.title }}</h5>
      <p class="card-text">{{ category.description }}</p>
      <a href="{% url 'goods:detail' category.slug %}" class="card-link">К категории</a>
    </div>
  </div>
</div>